# LangGraph Agent
LANGGRAPH_DEPLOYMENT_URL=http://localhost:8123
LANGSMITH_API_KEY=

# MCP Server
MCP_SERVER_URL=https://mcp.excalidraw.com

# LLM (DashScope)
DASHSCOPE_API_KEY=your-dashscope-api-key
DASHSCOPE_BASE_URL=your-dashscope-base-url
